<% layout("layouts/boilerplate") -%>
<body>
    <h1>All listings</h1>

  <div class="row row-cols-lg-3">
    <% for (let listing of allListings) { %>
      <a href="/listing/<%= listing._id %>" class="listing-link">
    <div class="card " style="width: 20rem;">
  <img class="card-img-top" src="<%= listing.image.url %>"  alt ="listing_image" style ="height: 20rem;">
  <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text">
      <b><%= listing.title %></b> <br>
      ₹<%= listing.price %>
    </p>
  </div>
</div></a>
    <%}%>
  </div>
    
    
    
    
    
    
</ul>

</body>

